<div class="grid grid-cols-2 gap-x-14">

  <mat-nav-list>
    <h2 class="text-center"> Unselected Users </h2>
    <hr>

    <div>
      <mat-list-item *ngFor="let user of unselectedUsers" (click)="onSelectUser(user)">
        <img matListAvatar src="{{user.profile_picture}}" alt="...">
        <h3 matLine> {{user.name}} </h3>
        <p matLine>
          <span> {{user.email}} </span>
        </p>
        <mat-icon color="primary">arrow_forward</mat-icon>
      </mat-list-item>
    </div>

  </mat-nav-list>

  <mat-nav-list>
    <h2 class="text-center"> Selected Users </h2>
    <hr>
    <div>
      <mat-list-item *ngFor="let user of selectedUsers" (click)="onDeselectUser(user)">
        <img matListAvatar src="{{user.profile_picture}}" alt="...">
        <h3 matLine> {{user.name}} </h3>
        <p matLine>
          <span> {{user.email}} </span>
        </p>
        <mat-icon color="primary">cancel</mat-icon>
      </mat-list-item>
    </div>
  </mat-nav-list>
  <p class="m-auto col-span-2 justify-self-center">
    <button mat-raised-button color="primary" (click)="closeDialog()"
            class="w-min ">Submit Changes
    </button>
  </p>
</div>

