<app-main-content-wrapper>
  <h1 class="text-2xl">Create New Group</h1>

  <form [formGroup]="createGroupForm" (ngSubmit)="submitForm()">
    <div class="grid grid-cols-2 gap-x-14 gap-y-3">
      <hr class="col-span-2">
      <div class=" grid grid-cols-1 col-start-1 col-span-1">
        <mat-form-field>
          <input matInput placeholder="name" formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="description" formControlName="description"></textarea>
        </mat-form-field>


        <!--    ROLES SELECTION-->
        <p>
          <mat-checkbox formControlName="public" color="primary">This is a public group</mat-checkbox>
        </p>
      </div>

      <div class="col-start-2 h-min">

        <img src="{{profilePicture!.value}}" class="h-32 w-32 border rounded border-primary">
        <mat-form-field class="col-start-2">
          <input matInput placeholder="Image URL" formControlName="profile_picture">
        </mat-form-field>

      </div>
      <hr class="col-span-2">
      <button mat-raised-button type="submit" [disabled]="createGroupForm.invalid" color="primary"
              class="m-auto col-span-2 w-min justify-self-center mt-4">
        Create Group
      </button>
    </div>
  </form>

  <mat-spinner *ngIf="loading" class="m-auto"></mat-spinner>

  <div [hidden]="!success">
    Group Created!
  </div>

</app-main-content-wrapper>
