<mat-card class="h-min">
  <mat-card-title>{{event.name}}</mat-card-title>
  <mat-card-content class="grid">
    <p  class="h-max grid ">{{ event.description }}</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon class="text-green-500">check</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="text-primary" >cancel</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="text-yellow-400">question_mark</mat-icon>
    </button>
    <button mat-button routerLink="/events/{{event.id}}">More Info</button>
  </mat-card-actions>
</mat-card>
