<app-main-content-wrapper>
  <mat-nav-list>
    <h1 class="text-center">Admin Center</h1>

      <mat-list-item routerLink="register" class="border-solid border-2 border-primary rounded">
        Register User
        <mat-icon class="ml-4" color="primary">person_add</mat-icon>
      </mat-list-item>

    <mat-list-item routerLink="create-group" class="border-solid border-2 border-primary rounded mt-4">
        Create Group
        <mat-icon class="ml-4" color="primary">group_add</mat-icon>
      </mat-list-item>

  </mat-nav-list>
</app-main-content-wrapper>
