<img src="{{ user?.profile_picture }}" alt="" class="rounded-3xl w-52 h-52 m-auto bg-accent ring ring-primary"/>

<div>
  <div class="font-semibold mt-4 text-3xl text-center">{{ user?.name }}</div>
  <div class="mt-4 text-xl flex items-center">
    <mat-icon class="text-primary mr-4">
      <div>mail_outline</div>
    </mat-icon>
    {{ user?.email }}
  </div>
  <div class="mt-4 text-xl flex items-center">
    <mat-icon class="text-primary mr-4">
      <div>call_outline</div>
    </mat-icon
    >
    {{ user?.phone_number }}
  </div>
  <div class="mt-4 text-xl flex items-center">
    <mat-icon class="text-primary text-left mr-4"
    >
      <div>public_outline</div>
    </mat-icon
    >
    {{ user?.region }}
  </div>
</div>

