<span class="flex justify-start m-2 items-center">
  <img
    src="{{ author.profile_picture }}"
    alt=""
    class="w-12 h-12 rounded-xl bg-accent ring-2 ring-white"
  />
  <div class="grid grid-cols-1 ml-2">
    <span class=" h-min align-middle text-2xl" >{{author.name}}</span>
    <span>{{date | date}}</span>
  </div>
</span>
