<app-main-content-wrapper>
  <h1 class="text-2xl">Register New User</h1>

  <form [formGroup]="registerUserForm" (ngSubmit)="submitForm()">
    <!--    TEXT INPUTS-->
    <div class="grid grid-cols-2 gap-x-14 gap-y-3">
      <hr class="col-span-2">
      <div class=" grid grid-cols-1 col-start-1 col-span-1">
        <mat-form-field>
          <input matInput placeholder="name" formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="email" formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="phone number" formControlName="phone_number">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="location" formControlName="region">
            <mat-option *ngFor="let region of regions" [value]="region">
              {{region}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

<!--      RIGHT SIDE-->
      <div class="col-start-2 h-min">
        <!--    ROLES SELECTION-->
        <div formGroupName="roles">
          <h1 class="text-2xl">User Roles</h1>

          <p>
            <mat-checkbox formControlName="admin" color="primary">Admin</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="staff" color="primary">Staff</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="volunteer" color="primary">Volunteer</mat-checkbox>
          </p>
        </div>

        <img src="{{profilePicture!.value}}" class="h-32 w-32 border rounded border-primary">
        <mat-form-field class="col-start-2">
          <input matInput placeholder="Image URL" formControlName="profile_picture">
        </mat-form-field>

      </div>

      <!--    SUBMIT BUTTON-->
      <hr class="col-span-2">
      <button mat-raised-button type="submit" [disabled]="registerUserForm.invalid" color="primary"
              class="m-auto col-span-2 w-min justify-self-center mt-4">
        Create User
      </button>
    </div>
  </form>

  <mat-spinner *ngIf="loading" class="m-auto"></mat-spinner>

  <div [hidden]="!success">
    User Successfully added!
  </div>

</app-main-content-wrapper>
