<div class="m-auto shadow shadow-accent w-96 mt-3 grid p-2 rounded-lg ">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="64"
    height="64"
    viewBox="0 0 64 64"
    class="justify-self-center my-4 bg-primary rounded-full fill-white"
  >
    <title>logo</title>
    <path
      d="M44.66,21.39c-.13-.93-2.32-2.51-3.17-1.44-1.33,1.14.81,2.25,1.9,3-.91.61-1.26,1.61-2.1,2.67-.36,1-.65,2.46-1.56,3.07-1.16-1.25-1.48-3.58-3.13-4.76-1.1-.79-5.65-1.55-2.32-2.51a3.83,3.83,0,0,0,2.36-.81c.91-.61.71-2,1.07-3,.17-2.39.27-5.25-1.8-5.9-1.58-.72-4.36.63-5.53-.62-.61-.86-.32-2.32-1.77-2.11-1,.14-1.33,1.14-.65,2.46.55.39,2.13,1.11.74,1.79-.48.07-2.07-.65-2.43.35-.71,2,1.65,1.18,2.07.65l2.42-.35c2,.19,4.07.83,1.77,2.11-2.23,1.74-.1,2.86,1.65,1.18.8,2.25-3.62,2.42-4.59,2.56a2.75,2.75,0,0,1-2.55-.58c-1-.32-1.58-.72-2.61-1a8.73,8.73,0,0,0-5.95-.09c-1.45.21-4.49-.3-5.2,1.7-1.2,2.07.64,4.65,1.31,6A29,29,0,0,0,16,28.85c.61.86,1.65,1.19,2.26,2l2.74,2c.19,1.39-.65,2.46-1.68,2.14-1,.14-.67-1.33-.8-2.25-.61-.86-2.26-2-2.62-1s1.71,1.65,1.42,3.11C16,36,13.94,35.32,12,35.6c-.55-.4-2.07-.65-2.43.35a1.3,1.3,0,0,0,.32,2.32c1.1.79,1.39-.67,1.81-1.21,1-.14,2.42-.35,2.06.65-.29,1.46-5.14,2.17-3.43,3.81,1.23,1.72,3.27-1.42,4.17-2,2.3-1.28,3.88-.56,5.46.16a6.48,6.48,0,0,0,3,0c1-.14,1.52.25,2.3-1.28.42-.53-.55-.39.36-1,.49-.07,1,.32,1.58.72.06.47,1.71,1.65,1.77,2.11l.13.93c-1.46.21-4.43.17-4.66,2.1-.17,2.39,2.39,3,2.64,4.83a3.28,3.28,0,0,0-2.3,1.28c-.42.54.06.47-.36,1s-.84,1.07-1.33,1.14c-.42.53-1.2,2.07-.16,2.39,1.1.79,1.39-.68,1.81-1.21a2.28,2.28,0,0,1,2.91-.42c.61.86-.17,2.39,0,3.32s.74,1.79,1.65,1.18c.42-.53-.32-2.32.1-2.86a15.49,15.49,0,0,1,1.07-3c.84-1.07.84-1.07,1.87-.74,2.07.65,3.71,1.83,5.59,1.09s3.27-1.42,5.14-2.16c2.36-.82,3.33-1,3.43-3.81a7.67,7.67,0,0,0,0-3.33L46,38.26c.78-1.54,1.52.26,2.13,1.12A6.45,6.45,0,0,0,49.47,42a2.69,2.69,0,0,0,2.62,1c1.45-.21.78-1.53.58-2.93-.32-2.32-.09-4.25-.41-6.57-.87-2.72-1.54-4-2.35-6.3-.13-.93-1.23-1.72-.38-2.79.36-1,1.45-.21,1.75-1.67.36-1-.26-1.86-1.65-1.18-.48.07-.29,1.46-1.75,1.67-2-.18-1.06-4.11-1.67-5-.68-1.32-1.65-1.18-2-.18Z"
      fill-rule="evenodd"
    ></path>
  </svg>

  <!-- LOGIN FORM -->
  <form action="" class="m-auto grid" [formGroup]="loginForm">
    <!-- EMAIL INPUT -->
    <mat-form-field appearance="outline" class="m-auto">
      <mat-label> Email </mat-label>
      <input type="email" matInput formControlName="email" />
    </mat-form-field>

    <!-- PASSWORD INPUT -->
    <mat-form-field appearance="outline" class="m-auto">
      <mat-label> Password </mat-label>
      <input type="password" matInput formControlName="password" />
    </mat-form-field>

    <!-- SUBMIT BUTTON -->
    <button
      mat-raised-button
      color="primary"
      type="button"
      class="w-min justify-self-center"
      [disabled]="!loginForm.valid"
      (click)="onSubmit()"
    >
      Login
    </button>
  </form>
</div>
