<mat-toolbar color="primary" class="justify-center fixed top-0 left-0 z-10">
  <div
    class="grid w-full grid-rows-1 auto-cols-min justify-between items-center max-w-7xl"
  >
    <!-- LEFT SIDE -->
    <div class="flex items-center justify-between">
      <div class="md:hidden">
        <button
          mat-icon-button
          aria-label="Example icon-button with menu icon"
          (click)="toggleDrawer()"
        >
          <mat-icon class="md:hidden">menu</mat-icon>
        </button>
      </div>
      <span class="w-full align-middle">Volunteer Hub</span>

      <div class="ml-6">
        <button mat-button  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</button>
        <button mat-button  routerLink="/groups" routerLinkActive="active">Groups </button>
        <button mat-button  routerLink="/events" routerLinkActive="active">Events </button>
        <button mat-button  routerLink="/admin" routerLinkActive="active" *ngIf="currentUser && currentUser.roles.admin">Admin </button>
      </div>
    </div>



    <!--END CONTENT-->
    <span class="row-start-1 col-start-3 flex">
      <app-nav-end-menu *ngIf="currentUser"
        [imageUrl]="currentUser.profile_picture"
        (onProfile)="toProfile()" (onLogout)="logOut()">
      </app-nav-end-menu>
    </span>

  </div>
</mat-toolbar>
