<div class="grid justify-items-center mt-4">
  <div class="h-24 w-64 rounded-2xl bg-orange-200 ring-4 ring-orange-500 grid">
    <p class="text text-center self-center">
      <ng-content></ng-content>
    </p>
  </div>
</div>
