<div class="flex">

  <button mat-button [matMenuTriggerFor]="menu" class="align-middle">

    <!--PROFILE PICTURE ICON-->
    <img
      *ngIf="imageUrl"
      src="{{ imageUrl }}"
      alt=""
      class="w-10 rounded-xl bg-accent ring-2 ring-white"
    />
    <img
      *ngIf="!imageUrl || imageUrl === ''"
      src="favicon.ico"
      alt=""
      />
    <!--DROPDOWN MENU-->
    <mat-menu #menu="matMenu" xPosition="before">

      <!--PROFILE BUTTON-->
      <button mat-menu-item (click)="toProfile()">Profile
        <mat-icon color="primary" class="mr-4 self-end">
          <div> account_circle_outline</div>
        </mat-icon>
      </button>

      <!--LOGOUT BUTTON-->
      <button mat-menu-item (click)="logOut()">Logout
        <mat-icon color="primary" class="mr-4 self-end">
          <div> logout_outline</div>
        </mat-icon>
      </button>


    </mat-menu>
  </button>

</div>
