<div *ngIf="!isLoading" class="bg-[#fafafa] shadow-md rounded-xl p-2 shadow-primary m-7 mb-10">
  <app-post-header [author]="author" [date]="post.timestamp"></app-post-header>
  <mat-divider></mat-divider>
  <quill-view-html [content] = "post.content"></quill-view-html>
</div>


