<mat-drawer-container class="h-screen" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" class="w-1/2">
    <div class="bg-cyan-300 h-full w-full">I'm a drawer</div>
  </mat-drawer>

  <mat-drawer-content>
    <app-nav-toolbar (toggle)="drawer.toggle()"></app-nav-toolbar>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
