<h1 class="text-2xl text-center">Create New Event</h1>

<form [formGroup]="newEventForm" (ngSubmit)="submitForm()">
  <div class="grid grid-cols-2">
    <div class="col-start-1 col-span-1 grid grid-cols-1 w-1/2 justify-self-center">
      <mat-form-field>
        <input matInput placeholder="name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="description" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="event location" formControlName="eventLocation">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="meetup location" formControlName="meetupLocation">
      </mat-form-field>
    </div>

    <div class="col-start-2 col-span-1 grid grid-cols-2 gap-x-4 h-min">

      <mat-form-field appearance="fill">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="start time" formControlName="startTime">
      </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="end time" formControlName="endTime">
      </mat-form-field>

      <hr class="col-span-2 mb-4">
      <button mat-raised-button type="submit" [disabled]="newEventForm.invalid" color="primary"
              class="m-auto col-span-2 w-min justify-self-center mt-4">
        Create Event
      </button>
    </div>


  </div>
</form>
