<mat-nav-list>
  <h1 class="text-center"> My Groups</h1>
  <div class="grid grid-cols-3">
    <div *ngFor="let group of groups" (click)="selectGroup(group)">
      <mat-list-item *ngIf="currentUser && group.members.includes(currentUser.id)">
        <img matListAvatar src="{{group.profile_picture}}" alt="...">
        <h3 matLine> {{group.name}} </h3>
        <p matLine>
          <span> {{group.description}} </span>
        </p>
      </mat-list-item>
    </div>
  </div>
</mat-nav-list>
