<div class="w-max border rounded border-primary" routerLink="/profile/{{user.id}}">
  <mat-list-item class="">
    <img matListAvatar src="{{user.profile_picture}}" alt="...">
    <h3 matLine> {{user.name}} </h3>
    <p matLine>
      <span> {{user.email}} </span>
    </p>
  </mat-list-item>
</div>

