<h1 class="w-max justify-self-center ">
  {{document?.name}}
</h1>
<p class="w-max justify-self-center" >
  {{document?.description}}
</p>
<div class="flex justify-center gap-4">
  <button mat-stroked-button color="accent" class="w-min justify-self-center" (click)="openNewPostDialog()">
    Create Post
  </button>
  <button mat-stroked-button color="accent" class="w-min justify-self-center" (click)="openAddMemberDialog()">
    Add Members
  </button>
  <button mat-stroked-button color="accent" class="w-min justify-self-center" (click)="openNewEventDialog()">
    Create Event
  </button>
</div>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Posts">
    <app-group-tab-posts-view [posts]=groupPosts></app-group-tab-posts-view>
  </mat-tab>
  <mat-tab label="Events">
    <app-group-tab-events-view [events]="groupEvents"></app-group-tab-events-view>
  </mat-tab>
  <mat-tab label="Members">
    <app-group-tab-members-view></app-group-tab-members-view>
  </mat-tab>
</mat-tab-group>
