<mat-nav-list>
  <h2> Admins </h2>
  <div class="grid grid-cols-5  gap-4">
    <app-user-profile-card *ngFor="let user of groupAdmins" [user]="user"></app-user-profile-card>
  </div>
</mat-nav-list>

<hr class="mt-8">


<mat-nav-list>
  <h2> Members </h2>
  <div class="grid grid-cols-5  gap-4">
    <div *ngFor="let user of groupMembers" class="w-max border rounded border-primary"  routerLink="/profile/{{user.id}}">
      <mat-list-item class="">
        <img matListAvatar src="{{user.profile_picture}}" alt="...">
        <h3 matLine> {{user.name}} </h3>
        <p matLine>
          <span> {{user.email}} </span>
        </p>
      </mat-list-item>
    </div>
  </div>
</mat-nav-list>
