// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@tailwind base;
@tailwind components;
@tailwind utilities;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import '~quill/dist/quill.snow.css';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$rf-primary-palette: (
  50: #ff94a6,
  100: #ff7f94,
  200: #ff6982,
  300: #ff5471,
  400: #ff3e5f,
  500: #ff294d,
  600: #e62545,
  700: #cc213e,
  800: #b31d36,
  900: #99192e,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$rf-accent-palette: (
  50: #919295,
  100: #7a7c7f,
  200: #64666a,
  300: #4e5155,
  400: #383b3f,
  500: #22252a,
  600: #1f2126,
  700: #1b1e22,
  800: #181a1d,
  900: #141619,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$rf-warn-palette: (
  50:#fee1f4,
  100:#fbb2e2,
  200:#fb7bce,
  300:#ff29b8,
  400:#ff00a2,
  500: #ff0087,
  600:#f00084,
  700:#d8007f,
  800:#c0007b,
  900:#940074,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$volunteer-hub-webapp-primary: mat.define-palette($rf-primary-palette);
$volunteer-hub-webapp-accent: mat.define-palette($rf-accent-palette);

// The warn palette is optional (defaults to red).
$volunteer-hub-webapp-warn: mat.define-palette($rf-warn-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$volunteer-hub-webapp-theme: mat.define-light-theme((
  color: (
    primary: $volunteer-hub-webapp-primary,
    accent: $volunteer-hub-webapp-accent,
    warn: $volunteer-hub-webapp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($volunteer-hub-webapp-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
