<app-main-content-wrapper>
  <h1 class="w-max justify-self-center ">
    {{document?.name}}
  </h1>
  <p>
    {{document?.description}}
  </p>
  <hr class="w-full">

  <!-- EVENT DETAILS  -->
  <div class="grid grid-cols-2 w-full">
    <div class="grid justify-items-center grid-cols-3">
      <div class=" mt-4 text-lg font-medium col-span-3">
        When and Where we'll meet
      </div>
      <mat-icon fontSet="material-icons-outlined" color="primary">location_on</mat-icon>
      <div class="justify-self-start col-span-2">
        {{document?.meetupLocation}}
      </div>
      <mat-icon fontSet="material-icons-outlined" color="primary">calendar_month</mat-icon>
      <div class="justify-self-start col-span-2">
        {{document?.startDate | date}}
      </div>
      <mat-icon fontSet="material-icons-outlined" color="primary">schedule</mat-icon>
      <div class="justify-self-start col-span-2">
        {{document?.startTime}}
      </div>
    </div>
    <div class="grid justify-items-center grid-cols-3">
      <div class=" mt-4 text-lg font-medium col-span-3">
        When and Where we'll finish up
      </div>
      <div class="justify-self-end col-span-2">
        {{document?.eventLocation}}
      </div>
      <mat-icon fontSet="material-icons-outlined" color="primary">location_on</mat-icon>

      <div class="justify-self-end col-span-2">
        {{document?.endDate | date}}
      </div>
      <mat-icon fontSet="material-icons-outlined" color="primary">calendar_month</mat-icon>

      <div class="justify-self-end col-span-2">
        {{document?.endTime}}
      </div>
      <mat-icon fontSet="material-icons-outlined" color="primary">schedule</mat-icon>

    </div>
  </div>

  <div class="flex justify-center gap-4">
    <button mat-stroked-button color="accent" class="w-min justify-self-center">
      Create Post
    </button>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <!-- EVENT POSTS    -->
    <mat-tab label="Posts">
    </mat-tab>
    <!-- EVENT ATTENDANCE    -->
    <mat-tab label="Attendance">
      <mat-nav-list>
        <div class="grid grid-cols-4  gap-4">
          <app-user-profile-card *ngFor="let user of invitedUsers" [user]="user"></app-user-profile-card>
        </div>
      </mat-nav-list>
    </mat-tab>
  </mat-tab-group>

</app-main-content-wrapper>
