<app-main-content-wrapper>
  <h1> My Events </h1>

  <div class="grid grid-cols-3 gap-4 my-4">
    <app-event-list-view *ngFor="let event of (events | async)" [event]="event" (navigate)="selectGroup($event)"></app-event-list-view>
  </div>

</app-main-content-wrapper>
