
<h2 mat-dialog-title>Create a new post</h2>
<mat-dialog-content class="inline-block max-h-60">
  <quill-editor [formControl]="content" (onContentChanged)="onInput($event)"></quill-editor>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button color="primary" (click)="closeDialog()">Publish</button>
</mat-dialog-actions>

